name: Run ADO to GitHub Sync with PowerShell

on:
  workflow_dispatch:
  
jobs:
  build:
    runs-on: windows-2019
    steps:
      - name: Check out repo        
        uses: actions/checkout@v2
      - run: |
          ./SynADOtoGitHub.ps1 -GitHubDestinationPAT {{ secret.GITHUBDESTINATIONPAT }} -ADOSourcePAT {{ secret.ADOSOURCEPAT }}
